# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local Binaries (FFmpeg binaries should be downloaded locally or hardlinked)
bin/*.exe

# Downloaded files & media
downloads/*
!downloads/.gitkeep

# Environments & IDEs
.env
.venv
env/
venv/
.idea/
.vscode/
*.swp
